.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titulo {
    font-weight: 500;
    font-size: 1.2em;
}

.desconto {
    color: rgba(219, 68, 68, 1);
}

.preco {
    display: flex;
    gap: 12px;
}

.sem_desconto {
    opacity: 50%;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 1);
    font-size: 1em;
    line-height: 24px;
}

.estrelas {
    display: flex;
    gap: 8px;
}

.qtd_estrelas {
    opacity: 50%;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
}

.cores {
    display: flex;
    gap: 8px;
}